#singlePerfomanceCard {
  display: none;
}
// body.page-template-perfomances {
//   .performance__header_buttons { 
//     justify-content: center !important;
//   }
// }

.shows-page {
  .pages {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
    a {
      color: $dark;
      padding: 5px 20px;
      border: 1px solid $milk;
      font-size: 14px;
      border-radius: 50px;
      &.active {
        background: $primary;
        color: $milk;
        border: 1px solid transparent;
      }
      @media (min-width:$bp3) {
        &:hover {
          background: $primary;
          color: $milk;
          border: 1px solid transparent;
          &.active {
            color: $dark;
            padding: 5px 20px;
            border: 1px solid $milk;
            background: transparent;
          }
        }
      }
    }
  }
  
  
  .shows-list {
    background: $milk;
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 40px;
    &__categories {
      padding: 0 30px;
      display: flex;
      flex-wrap: wrap;
      &:last-child {
        align-items: center;
      }
      
      // gap: 0px 10px;
      li {
        &.active {
          // background-color: #cdc9c4;
          button {
            color: $dark;
            border-bottom: 1px solid $dark;
          }
        }
        button, p {
          border: none;
          background: transparent;
          font-family: $ala;
          color: $primary;
          font-size: 14px;
          text-transform: capitalize;
        }
       
        padding: 5px 10px;
        a {
          color: $primary;
          font-size: 14px;
          text-transform: capitalize;
         
          @media (min-width:$bp3) {
            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
  }

  .performances {
    margin-bottom: 20px;
    border-top:1px solid $milk;
    border-bottom:1px solid $milk;

    .performance  {
      &:not(:last-child) {
        border-bottom: 1px solid $milk;
      }
      &__header, &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h6 {
          @include fontz(16px,4);
        }
      }

      &__header {
        align-items: center;
        padding: 20px 10px 10px;
        gap: 10px;
        &_title, &_buttons {
          @media (min-width:$bp1) {
            flex: 0 1 30%;
          }
        }
        
        .cast {
          font-size: 12px;
          padding: 5px 20px;
          border: 1px solid $milk;
          border-radius: 50px;
          display: inline-block;
          max-width: 100px;
          text-align: center;
          color: $dark;
        }
        &_buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: flex-start;
          @media (max-width:$bp1) {
            flex: 1 1 30%;
          }
          @media (min-width:$bp1) {
            justify-content: flex-end;
          }
          a {
            font-size: 12px;
            padding: 5px 20px;
            border: 1px solid $milk;
            border-radius: 50px;
            display: inline-block;
            max-width: 100px;
            text-align: center;
            color: $dark;
            &.dark{
              background-color: $milk;
            }
          }

        }
        &_category {
          text-align: center;
          max-width: 100px;
          font-size: 12px;
          color: $primary;
          position: relative;
          width: 100%;
          top: 10px;
          @media (min-width:$bp1) {
            top: 40px;
          }
          &::before {
            position: absolute;
            content: '';
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            background: url(../assets/categories/spektakl-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            width: 39px;
            height: 39px;

          }
          &.musical {
            &::before {
              background: url(../assets/categories/musical-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          } 
          &.monodram-muzyczny {
            &::before {
              background: url(../assets/categories/monodram-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          } 
          &.koncert {
            &::before {
              background: url(../assets/categories/koncert-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          } 
          &.musical-dla-dzieci {
            &::before {
              background: url(../assets/categories/musical-dla-dzieci-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.operetka {
            &::before {
              background: url(../assets/categories/operetka-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.spektakl-komediowo-muzyczny {
            &::before {
              background: url(../assets/categories/spektakl-komediowo-muzyczny-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.widowisko-muzyczne {
            &::before {
              background: url(../assets/categories/widowisko-muzyczne-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.spektakl-baletowy {
            &::before {
              background: url(../assets/categories/spektakl-baletowy-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.wyklad-warsztat {
            &::before {
              background: url(../assets/categories/wyklad-warsztat-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.spektakl {
            &::before {
              background: url(../assets/categories/spektakl-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          &.wystawa {
            &::before {
              background: url(../assets/categories/wystawa-ikona-teatr-muzyczny.svg) no-repeat center/cover;
            }
          }
          
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }

      &__body {
        padding: 10px;
        
        &_date {
          font-family: $ala;
          font-weight: 500;
          font-size: 20px;
          // margin-right: 50px;
          flex: 1 1 100%;
          @media (min-width:$bp1) {
            flex: 0 1 200px;
          }
          span {
            font-size: 30px;
            color: $primary;
          }

          .btn {
            font-family: $pop;
            font-weight: normal !important;
            padding: 10px !important;
            text-align: center;
            width: 80%;
          }
        }

        &_image {
          display: none;
          flex: 1 1 30%;
          text-align: center;
          @media (min-width:$bp3) {
            display: block;
          }
        }
        &_content {
          @media (min-width:$bp1) {
            padding-right: 100px;
          }
          h6 {
            color: $dark;          
          }
          p {
            font-size: 14px;
            padding: 25px 0 0;
            @media (min-width:$bp1) {
              padding:50px 0 0;
            }
          }
          flex: 1 1 100%;
          @media (min-width:$bp1) {
            flex: 1 1 30%;
          }
          .btns {
            padding: 25px 0; 
            @media (min-width:$bp1) {
              padding: 50px 0;
            }
            display: flex;
            flex-wrap: wrap;
            gap: 50px;  
            @media (min-width:$bp1) {
              gap: 100px;
            }
            align-items: center;

            &__btn {
              color: $primary;
              font-weight: 500;
              font-size: 17px;
              @media (min-width:$bp1) {
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background: url('../assets/image/strzalka-teatr.svg') no-repeat center/cover;
                  right: -50px;
                  bottom: 50%;
                  transform: translateY(50%);
                }
              }
            }
          }
        }
      }
    }
  }
}