.single-artist {
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  font-family: $ala;
  &__fields {
    order: 2;
    flex: 1 1 100%;
    @media (min-width:$bp2) {
      order: 1;
      flex: 1 1 40%;
      padding-top: 400px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: url('../assets/image/strzalka-zespol-opis-teatr-nowy.svg') no-repeat center/cover;
        top: 0px;
        left: 0;
      }
    }
    p {
      font-size: 14px;
      color: $primary;
      span{
        font-weight: bold;
      }
    }
  } 
  
  &__content {
    order: 1;
    flex: 1 1 100%;
    @media (min-width:$bp2) {
      order: 2;
      flex: 1 1 50%;
    }
    img {
      margin-bottom: 35px;
    }
    p {
      padding: 15px 0;
    }
  }
}