.single-artist {
  ul {
    list-style: disc;
  }
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  &__fields {
    order: 2;
    flex: 1 1 100%;
    @media (min-width: $bp2) {
      order: 1;
      flex: 1 1 40%;
      padding-top: 400px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: url("../assets/image/strzalka-zespol-opis-teatr-nowy.svg")
          no-repeat center/cover;
        top: 0px;
        left: 0;
      }
    }
    p {
      font-size: 14px;
      color: $primary;
      span {
        font-weight: bold;
      }
    }
  }

  &__kontakt {
    flex: 1 1 100%;
    @media (min-width: $bp2) {
      order: 1;
      flex: 1 1 20%;
      padding-top: 40px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: url("../assets/image/strzalka-teatr.svg") no-repeat
          center/cover;
        top: 0px;
        left: 0;
      }
    }
    p,
    a {
      font-size: 15px;
      color: $primary;
    }

    a {
      @media (min-width: $bp2) {
        &:hover {
          color: $dark;
        }
      }
    }
  }

  &__content {
    order: 1;
    flex: 1 1 100%;
    @media (min-width: $bp2) {
      order: 2;
      flex: 1 1 50%;
    }
    img {
      margin-bottom: 35px;
    }
    p {
      padding: 15px 0;
    }
    a {
      color: $primary;
    }
  }
}
