*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  @include fontz(14px, 2);
  height: 100%;
  width: 100%;
  position: relative;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: $dark;
  font-family: $pop;
  line-height: 1.6;
  &.wcag_big {
    * {
      line-height: 1 !important;
      font-family: $pop !important;
      font-weight: 600 !important;
      h1 {
        font-size: calc(50px + (50 * (100vw / 1920))) !important;
        line-height: 1 !important;
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: calc(20px + (20 * (100vw / 1920))) !important;
      }
      p,
      span,
      a,
      div,
      button {
        font-size: calc(20px + (6 * (100vw / 1920))) !important;
      }
    }
  }

  &.wcag_contrast {
    .header__wcag_contrast {
      width: 25px;
      height: 25px;
      border: 2px solid rgb(255, 217, 0);
      background: linear-gradient(90deg, transparent 50%, rgb(255, 217, 0) 50%);
      border-radius: 50%;
    }
    div,
    section,
    input,
    textarea,
    ul,
    header,
    footer,
    a,
    p,
    button {
      svg {
        fill: rgb(255, 217, 0) !important;
        .st0 {
          fill: rgb(255, 217, 0) !important;
          color: rgb(255, 217, 0) !important;
        }
      }
      .people__items_item {
        img {
          z-index: 1;
        }
      }
      img {
        &.size-thumbnail {
          filter: invert(69%) sepia(99%) saturate(436%) hue-rotate(0deg)
            brightness(104%) contrast(107%);
          opacity: 1 !important;
        }
      }
      background: rgb(0, 0, 0) !important;
      background-color: rgb(0, 0, 0) !important;
      border: none;
      img {
        opacity: 0.5;
      }
      p,
      span,
      a,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      div,
      li,
      button {
        color: rgb(255, 217, 0) !important;
      }
      input,
      textarea {
        color: rgb(255, 217, 0) !important;
        &::placeholder {
          color: rgb(255, 217, 0) !important;
        }
      }
    }
  }
}

.topBar {
  background-color: $primary;
  padding-top: 10px;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}

.fixed {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 100%;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: $bp4) {
    max-width: 1140px;
  }
  @media (max-width: $bp3) {
    max-width: 960px;
  }
  @media (max-width: $bp2) {
    max-width: 720px;
  }

  @media (max-width: $bp1) {
    max-width: 100%;
    padding: 0px 15px;
  }
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.25s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

button {
  transition: 0.35s;
  &:hover {
    cursor: pointer;
  }
  max-width: 200px;
}

img {
  max-width: 100%;
  height: auto;
  &.size-thumbnail {
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ala;
}

h5 {
  font-size: 22px;
  flex: 1 1 100%;
  font-weight: normal;
}

h6 {
  font-size: 20px;
  flex: 1 1 100%;
  font-weight: normal;
}

.box {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 30px;
  padding: 1em;
  position: relative;
  margin-bottom: 0.25em;
  vertical-align: top;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;

  &.active {
    display: flex;
  }
}

.loader {
  display: inline-block;
  width: 2em;
  height: 2em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  border: 0.2em solid transparent;
  border-top-color: $primary;
  border-radius: 50%;
  animation: 1s loader linear infinite;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    border: 0.2em solid currentcolor;
    border-radius: 50%;
    opacity: 0.5;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  color: red;
  font-size: 14px;
  padding: 20px 0;
}

.info-time {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .position-job,
  .time {
    border-radius: 50px;
    display: inline;
    font-weight: normal;
    padding: 5px 20px;
    background-color: $milk;
    font-size: 14px;
    margin: 0;
    span {
      font-weight: 600;
    }
  }

  .position-job {
    background-color: $primary;
    color: $milk;
  }
}
// .ml-form-checkboxRow {
//   &.ml-error {
//     .label-description {
//       background-color: red;
//       p {
//         background-color: green;
//         color: white !important;
//       }
//     }
//   }
// }
#mlb2-7411315.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow.ml-error
  .label-description
  p {
  color: white !important;
}
