.cookies{
	display: none;
	font-family: Poppins,sans-serif;
	color: $milk;
	background: $primary;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999999;

	&__flex{
		display: flex;
    font-size: 12px;
    @media (max-width:$bp2) {
      flex-wrap: wrap;
    }
    gap: 20px; 
		padding: 15px;
		align-items: center;
		justify-content: space-around;
    p {
      font-size: 14px;
      flex: 1 1 80%;
      a {
        color: $dark;
      }
    }
	}
	&__btn{
		background: $dark!important;
    padding: 5px 20px;
    text-transform: uppercase;
    flex: 1 1 20%;
    text-align: center;
    max-width: 150px;
		@media (min-width:$bp3) {
      &:hover {
        cursor: pointer;
    		background: $milk!important;
        color: $dark;
      }
    }
	}
}