.footer {
  background-color: #000;
  color: $milk;

  &__items{
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &_item {
      // background-color: green;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width:$bp3) {
        flex: 1 1 40%;
      }
    }
    padding: 40px 0;
    &_itemTop {
      padding: 40px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (min-width:$bp3) {
        border-top: 1px solid $milk;
      }

      h6 {
        margin-bottom: 20px;
      }

      ul {
        &:first-child{
          li {
            a {
              font-size: 20px;
            }
            &:not(:last-child) {
              padding-bottom: 20px;
            }
          }
        }
        li {
          a {
            color: $milk;
            font-size: 14px;
            font-weight: lighter; 
            @media (min-width:$bp3) {
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }

    &_itemBottom {
      // background-color: red;
      padding: 20px 0;
      border-top: 1px solid #F4F2EF;
      border-bottom: 1px solid #F4F2EF;
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      // align-items: center;
      min-height: 145px;
      div {
        flex: 1 1 50%;
        @media (min-width:$bp2) {
          flex: 1 1 30%;
        }
        gap: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        font-size: 13px;
        // height: 100px;
        p {
          line-height: 120%;
        }
        a {
          color: $milk;
          @media (min-width:$bp3) {
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .copyright {
    padding: 0 0 20px 0;
    a {
      color: $milk;
      @media (min-width:$bp3) {
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .wpcf7 {
    width: 100%;
  }
  .wpcf7-form {
    // padding: 10px 0 0;
    
    input , textarea { 
      background: transparent;
      border: none;
      font-family: $pop;
      font-size: 16px;
      max-width: 100%;
      padding: 10px 0;
      margin-bottom: 10px;
      width: 100%;
      color: $milk;    
      border-bottom: 1px solid #F4F2EF;
      // &::placeholder {
      //   color: red;
      // }
    }
  
    textarea {
      height: 150px;
      resize: none;
      &::placeholder {
        transform: translateY(100px);
      }
    }
  
    input[type=submit] {
      max-width: 150px;
      border: none;
      padding: 5px 20px;
      background-color: $primary;
      border-radius: 50px;
      color: $milk;
      transition: 0.3s ;
      @media (min-width:$bp3) {
        &:hover {
          cursor: pointer;
          background-color: $milk;
          color: $primary;
        }
      }
    }
  }
}