@import "../scss/components/_varibles";


.breadcrumbs {
  margin: 20px 0;
  &__content{ 
    padding: 10px;
    @media (min-width:$bp2) {
      padding: 20px 40px 20px 40px;
    }
    &_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px 0;
      @media (min-width:$bp1) {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          background: url('../../assets/image/strzalka-teatr.svg') no-repeat center/cover;
          top: -20px;
          right: 0;
        }
      }

      div, h1, p {
        flex: 1 1 100%;
        @media (min-width:$bp2) {
          flex: 1 1 40%;
        }

        .position {
          border:1px solid $primary;
          border-radius: 50px;
          padding: 5px 10px;
          display: initial;
          font-size: 14px;
        }
      }

      h1 {
        @include fontz(25px, 15);
        font-weight: 400;
      }

      a,p {
        color: $primary;
      }

      a {
        @media (min-width:$bp3) {
          &:hover {
            color: $dark;
          }
        }
      }

      p {
        font-size: 14px;
        @media (min-width:$bp3) {
          max-width: 700px;
          margin-right: 100px;
        }
      }
    }
    
  }
}