@import "../scss/components/_varibles";


.breadcrumbs {
  margin: 20px 0;
  &__content{ 
    padding: 20px 40px 50px 40px;
    &_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px 0;
      @media (min-width:$bp1) {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          background: url('../../assets/image/strzalka-teatr.svg') no-repeat center/cover;
          top: -20px;
          right: 0;
        }
      }

      h1 {
        @include fontz(25px, 15);
        font-weight: 400;
      }

      p {
        color: $primary;
        font-size: 14px;
        @media (min-width:$bp3) {
          max-width: 700px;
          margin-right: 100px;
        }
      }
    }
    
  }
}