@import "../scss/components/_varibles";

.people {
  padding: 50px 0;

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    a {
      &.active {
        background: $milk;
      }
      padding: 5px 20px;
      border: 1px solid $milk;
      border-radius: 50px;  
      transition: 0.35s;
      background: transparent;
      color: $dark;
      font-size: 14px;
      @media (min-width:$bp3) {
        &:hover {
          background: $milk;
          &.active {
            background: transparent;
          }
        }
      }
    }
  }

  &__items {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width:$bp3) {
      gap: 50px;
    }
   &_item {
    flex: 1 1 100%;
    position: relative;

    background: rgb(216,29,74);
    background: linear-gradient(0deg, rgba(216,29,74,1) 0%, rgba(255,255,255,0.09007352941176472) 49%);
    
    @media (min-width:$bp2) {
      flex: 1 1 45%;
    }
    @media (min-width:$bp3) {
      flex: 1 1 30%;
    }
    min-height: 500px;
    overflow: hidden;
    // height: 400px;
    a {
      color: $milk;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    p {
      position: absolute;
      bottom: 40px;
      left: 40px;
      font-size: 20px;
      &::before {
        content: '';
        position: absolute;
        width: 27px;
        height: 27px;
        bottom: 20px;
        transform: translateY(-50%);
        background: url('../../assets/image/strzalka-teatr-white.svg');
      }
    }

    img {
      z-index: -1;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
   }
  }
}